<div class="flex items-center justify-center w-full">
  <label
    for="dropzone-file"
    class="flex flex-col items-center justify-center w-full h-64 p-2 md:p-4 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer text-center bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500"
  >
    <div class="flex flex-col items-center justify-center pt-5 pb-6">
      <lucide-angular
        [name]="iconUpload"
        class="text-gray-500 dark:text-gray-400 mb-2"
      />
      <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
        Suelte aquí sus archivos o haga clic para cargarlos
      </p>
      <p class="text-xs text-gray-500 dark:text-gray-400">
        Admite archivos PDF, JPG, PNG y DOCX de hasta 10 MB cada uno.
      </p>
    </div>
    <input
      id="dropzone-file"
      type="file"
      class="hidden"
      [formControl]="fileControl()"
    />
  </label>
</div>
