<div class="flex flex-col items-center justify-center bg-gray-100 px-6 py-12">
  <div class="flex flex-col items-center justify-center max-w-2xl text-center">
    <h1 class="text-4xl font-bold mb-3">
      Transformación de documentos empresariales con
      <span
        class="bg-gradient-to-tr from-purple-600 to-purple-700 bg-clip-text text-transparent"
        >AI Vision</span
      >
    </h1>
    <p class="text-base text-gray-600 mb-6">
      Automatice el procesamiento de documentos con IA avanzada. Extraiga datos
      de facturas, planos y presupuestos al instante con visión por ordenador y
      automatización inteligente.
    </p>
    <a
      class="flex justify-center items-center text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br font-medium rounded-lg text-sm px-5 py-2.5 text-center cursor-pointer"
      [routerLink]="'/upload'"
    >
      Cargue su primer documento
    </a>
  </div>
</div>
