/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
  /* COLORES */
  --color-primary: #23426e;
  --color-secondary: #6c757d;
  --color-light: #f9fafb;

  /* BREAKPOINTS */
  --breakpoint-xs: 30rem;
}
